<!DOCTYPE html>
<html lang="en" xmlns th="http://www.thymeleaf.ofg" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>member-list</title>
</head>
<body>
<div th:replace="member/header :: headerFragment"></div>
<table>
    <tr><th>이름</th><th>이메일</th><th>비밀번호</th></tr>
    <tr th:each = "memberResDto : ${members}" >
        <td th:text="${memberResDto.name}"></td>
        <td th:text="${memberResDto.email}"></td>
        <td th:text="${memberResDto.password}"></td>
    </tr>
</table>
</body>
</html>